# AWS Credentials
AWS_ACCESS_KEY_ID=AKIAQCQSRMZQZC2IU4VP
AWS_SECRET_ACCESS_KEY=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
AWS_REGION_PRIMARY=eu-west-1
AWS_REGION_SECONDARY=us-east-1

# S3 Bucket Names
S3_BUCKET_PRIMARY=cloudproject-shards-us
S3_BUCKET_SECONDARY=cloudproject-shards-eu

# KMS Key ID 
KMS_KEY_ID=a715720f-1df3-42de-aab7-9d2129f2d6f4

# DynamoDB
DYNAMODB_TABLE=FileManifest

# Cognito
COGNITO_USER_POOL_ID=eu-west-1_M0JctojIj
COGNITO_CLIENT_ID=5nsj6rku8abdjjph6jae8dk7if
COGNITO_REGION=eu-west-1

# Flask
FLASK_PORT=5000
FLASK_SECRET_KEY=cloudproject308secretkey

# React Frontend
REACT_APP_API_URL=http://localhost:5000
REACT_APP_COGNITO_USER_POOL_ID=eu-west-1_M0JctojIj
REACT_APP_COGNITO_CLIENT_ID=5nsj6rku8abdjjph6jae8dk7if
REACT_APP_COGNITO_REGION=eu-west-1